<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Coronavirus Tracker application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	
</head>

<body>
<div class = "container">

	<h1 id="heading">Coronavirus Tracker application</h1>
	<p>This application lists the current number of covid cases
		reported across the globe.</p>
	<div class="jumbotron">
		<h1 class="display-4" th:text="${totalReportedCases}"></h1>
		<p class="lead">Total cases reported as of today</p>
		<hr class="my-4">
		<p>
			<span>New cases reported since previous day</span>
			<span th:text="${totalNewCases}" ></span>	
		</p>
	</div>

	
		<table class="table">
		<tr>
			<th>Country</th>
			<th>State</th>
			<th>Total cases reported</th>
			<th>Changes since last day</th>
		</tr>
		<tr th:each="locationState : ${locationStates}">
			<td th:text="${locationState.country}"></td>
			<td th:text="${locationState.state}"></td>
			<td th:text="${locationState.latestTotalCases}"></td>
			<td th:text="${locationState.difFromPrevDay}"></td>
		</tr>
	</table>
		
	</div>
</body>

</html>